name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploymentjob:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build project
        run: |
          docker build -t 17csc028/portfolio .

      - name: Docker Login
        run: |
          echo | docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Push to Docker hub.
        run: |
          docker push 17csc028/portfolio
